* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  height: 100%;
  width: 100%;
}

.titulo {
    padding: 15px;
    width: 30vw;
    margin: auto;
  
  }

  .btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
  }

  .btn a, a:visited, a:hover {
    color: white;
    text-decoration: none;
  }


  
  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

 #ahorcado {
   background-color: #E1FEFF;
 }


#guiones img {
  height: 100px;
}

#imagenes {
  flex-direction: center;
  height: 427px;
  width: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 170px;
  left: 250px;
}

#vidas {
  font-family: monospace;
  font-size: 3rem;
  position: relative;
  top: 7rem;
  left: 50rem;
  text-align: left;
}